<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hola dime a quien quieres saludar</h1>
    <form class="" action="/form" method="post">
      <input type="text" name="nombre" value="">
      <input type="submit" name="Hola!" value="Hola!">
    </form>
  </body>
</html>
